{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div>
  <!-- CATEGORIES -->

  <section class="p-5">
    <h1 class="pb-3 text-center text-2xl">Categories</h1>
    <div class="flex justify-center gap-16">
      {% for category in categories %}
      <a href="">
        <div class="flex flex-col">
          <div class="img-wrapper w-[10rem] h-[10rem]">
            <img class="rounded-full w-full h-full object-cover" src="{{ category.image.url }}" alt="{{ category }}">
          </div>
          <div class="text-center">{{ category.name }}</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>

  {% if recycled %}
  <section>
    <h1>Recycled Items</h1>
  </section>
  {% endif %}

  {% if upcycled %}
  <section>
    <h1 class="pb-3 text-center text-2xl">Upcycled Items</h1>
    <div class="flex gap-6">
      {% for item in upcycled %}
      <a href="{% url 'item:item_details' item.id %}">
        <h1>{{ item.title }}</h1>
        <div>
          <img src="{{ item.thumbnail.url }}" alt="{{ item.title }}">
        </div>
        <div class="pt-2 flex gap-3">
          <span>{{ item.category }}</span>
          <img class="img_plastic_type" src="{{ item.type.image.url }}" alt="{{ item.type }}">
        </div>
      </a>
      {% endfor %}
    </div>

  </section>
  {% endif %}


  <!-- {% for item in items %}
  <h1>{{ item.title }}</h1>
  <div><img width="300" src="{{ item.thumbnail.url }}" alt="{{ item.title }}"></div>
  <p>{{ item.description }}</p>
  <p>
    {{ item.category }}
    <img width="40" src="{{ item.type.image.url }}" alt="{{ item.type }}">
  </p>
  {% endfor %} -->
</div>
{% endblock %}