{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'icons/icon.ico' %}" type="image/x-icon">
  {% tailwind_css %}
  {% block title %}
  <title>Eco Treasure</title>
  {% endblock %}
</head>

<body>
  {% if messages %}
  <!-- THIS IS FOR FLASH MESSAGE -->
  <ul class="fixed bg-black text-white w-full p-3 text-center" id="pop-up">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>

    {% endfor %}
  </ul>
  {% endif %}
  {% include 'base/navbar.html' %}
  <div class="container m-auto">    
  {% block content %}
  {% endblock %}
  </div>
  {% include 'base/footer.html' %}
</body>

</html>