{% extends 'base/base.html' %}
{% block title %}
<title>Blog| Eco Treasure</title>
{% endblock %}
{% block content %}

<section class="tracking-wider leading-6 md:leading-8">
  <div class="mx-auto">
    <div class="w-4/5 mx-auto pt-10">
      <h1 title="AB Farm Blog" class="uppercase font-bold text-xl text-center">BLOG</h1>
      {% for blog_item in blog %}
      <div class="card min-h-[14vh] p-3">
        <h1>{{ blog_item.title }}</h1>
        <small>Posted on: {{ blog_item.date_created }}</small>
        <div class="h-48">
          <img class="" src="{{ blog_item.image.url }}" alt="AB Farm {{ blog_item.title }}">
        </div>
        <p>
          {{ blog_item.body|safe|truncatewords:40 }}
        </p>
        <div class="md:hidden">
          <br>
          <a class="btn" href="{% url 'blog:blog_details' blog_item.slug %}">Continue Reading</a>
        </div>
        <div
          class="transition-all delay-100">
          <a href="{% url 'blog:blog_details' blog_item.slug %}" class="border p-2 border-black z-20 md:hover:bg-black md:hover:text-white">READ MORE</a>
        </div>
      </div>

      <br>
      {% endfor %}
      
      <!-- THIS BUTTON CREATE BLOG POST, ONLY ASSESSIBLR TO SUPERUSER -->
      {% if request.user.is_superuser %}
      <div>
        <a class="btn" href="{% url 'blog:create_blog' %}">Create Blog Post</a>
      </div>
      {% endif %}

      <!-- PAGINATION -->
      <div class="paginator pt-8">
        {% if page_obj.has_other_pages %}
        <ul class="pagination flex justify-around flex-wrap">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ 1 }}">First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
          {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          {% endif %}

          {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
          <li class="page-item bg-gray-500"><a class="page-link">{{ i }}</a></li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}


          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?={{ page_obj.paginator.num_pages }}">Last</a>
          </li>
          {% else %}
          <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>

        {% endif %}

      </div>

    </div>
  </div>
</section>

{% endblock %}